@import "tailwindcss";

@font-face {
  font-family: Tanha;
  src: url("assets/font/Tanha.eot");
  src: url("assets/font/Tanha.eot?#iefix") format("embedded-opentype"),
    url("assets/font/Tanha.woff") format("woff"),
    url("assets/font/Tanha.ttf") format("truetype");
  font-weight: normal;
}
* {
  direction: rtl;
  box-sizing: border-box;
  font-family: Tanha;
}
